* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #FAFAFA;
}

.header__container {
  max-width: 1200px;
}

.header__items {
  padding: 20px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.main__container {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 35px;
  font-style: normal;
  padding: 100px 0 110px 0;
}

.navigation {
  display: flex;
  align-items: end;
}

.nav__items {
  display: flex;
}
.nav__item{
  border: 0;
  cursor: pointer;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  margin: 10px;
}

.blog {
  background: #FAFAFA;
  padding: 105px 0;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog__first-row {
  display: flex;
  justify-content: space-between;
}

.container__left {
  max-width: 505px;
  display: flex;
}

.container__right {
  max-width: 245px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}


.travel {
  background: #ffff;
  border-radius: 20px;
  max-height: 553px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.climbing {
  background: #ffff;
  border-radius: 20px;
  max-height: 258px;

}

.photo {
  background: #ffff;
  border-radius: 20px;
  max-height: 279px;
}

.blog__post-img {
  margin-bottom: 20px;
}

.theme {
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
  margin-bottom: 9px;
}

.blog__name {
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 12px;
}

.discription {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  padding: 0 10px;
}

.date {
  padding: 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 200;
  font-style: normal;
}

.upper__contaier {
  display: flex;
  justify-content: space-between;

}

.container__3 {
  display: flex;
  gap: 16px;

}

.dron {
  background: #ffff;
  border-radius: 20px;
  max-width: 376px;
  max-height: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.people {
  background: #ffff;
  border-radius: 20px;
  max-width: 376px;
  max-height: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.lower__container {
  display: flex;
  justify-content: space-between;

}

.container__4 {
  display: flex;
  gap: 16px;

}

.pen {
  background: #ffff;
  border-radius: 20px;
  max-width: 245px;
  max-height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.man {
  background: #ffff;
  border-radius: 20px;
  max-width: 245px;
  max-height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mac {
  background: #ffff;
  border-radius: 20px;
  max-width: 245px;
  max-height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email {
  background: #ffff;
  padding: 100px 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.email__main__block {
  display: flex;
  justify-content: space-between;

}

.email__text {
  max-width: 376px;
  max-height: 187px;
  display: flex;
  flex-direction: column;

}

.email__block {
  width: 100%;
  max-width: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email__input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.email__input-block input {
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;

}

.email__input-block label {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}


.email__main__text{
  padding: 27px 0 11px ;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 200;
  font-style: normal;
}

.email__description__text{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 200;
  font-style: normal;
}

.email__input-block label {
  margin-bottom: 3px;
}

.email__button {
  background: #353732;
  border-radius: 6px;
  color: #fff;
  width: 82px;
  height: 38px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}

.content__block{
  background: #FAFAFA;
}

.content__blocks{
  display: flex;
  flex-direction: column;
  max-width: 768px;
  padding-top: 100px;
}
.content__posts{

}
.content__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__texts-photo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 122px;
  padding-left: 10px;
}
.content__photo{
  border-radius: 15px;
  height: 122px;
  width: 200px;
}
.content__name{
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.content__text{
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
}
.content__date{
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 200;
  font-style: normal;
  padding-top: 10px;
}
.information{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.content{
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}
.button__view-archive{
  border: 0;
  cursor: pointer;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  width: 125px;
}

.button_arrow{
  margin-left: 5px;
}

.footer__content{
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer__text{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 200;
  font-style: normal;
  margin-top: 9px;
}

.footer__buttons{

  display: flex;
  flex-direction: column;
}
.footer__button{
  margin-right: 20px;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 200;
  font-style: normal;
}

.lower__buttons{

}
