* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.header__container {
  max-width: 1200px;
  font-family: "Georgia", sans-serif;
}

.header__items {
  padding: 20px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.main__container {
  display: flex;
  font-family: "Georgia", "sans-serif";
  font-size: 35px;
  padding: 100px 0 110px 0;
}

.navigation {
  display: flex;
  align-items: end;
}
.nav__items {
  display: flex;
  gap: 10px;
}

.blog {
  background: #FAFAFA;
  padding: 20px 16px;

}
.posts {
  display: flex;
  gap: 16px;

}
.container__1 {
  max-width: 507px;
  background: #ffffff;
  display: flex;
}

.container__2 {
  max-width: 245px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.travel {

}

.theme  {
  padding: 10px 10px;
}
.blog__name {
  padding: 10px 10px;
}
.discription {
    padding: 10px 10px;
}
.date {
  padding: 10px 10px;
}
